body{
    font-family: Arial, Helvetica, sans-serif;
}

.description{
    /*border: 1px dotted black;*/
    text-align: center;
    padding-top: 30px;
}

.avatar{
    width: 200px;
    border: 1px dotted #f8ac9b;
}

.card{
    background-color: #ffe5d9;
    border-bottom: 8px solid #f8ad9d;
    border-radius: 10px;
    width: 500px;
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
}
